* {
  box-sizing: border-box;
}
html {
  color: $white;
}

.layout-page {
  width: 400px;
  max-width: 100%;
  margin: auto;
}
.text-wrap-auto {
  text-wrap: auto !important;
}
.d-flex {
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}
.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    height: 64px;
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    color: $neutral-white-alpha-100;
    border-bottom: 1px solid $neutral-white-alpha-7;
  }
  .content {
    top: 64px;
    width: 100%;
    position: absolute;
    height: calc(100% - 64px);
    overflow: auto;
    padding: 0 40px 40px;
    box-sizing: border-box;
    color: $white;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-1 {
  flex: 0 0 8.333%;
  max-width: 8.333%;
}
.col-2 {
  flex: 0 0 16.666%;
  max-width: 16.666%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.col-5 {
  flex: 0 0 41.666%;
  max-width: 41.666%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333%;
  max-width: 58.333%;
}
.col-8 {
  flex: 0 0 66.666%;
  max-width: 66.666%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.h-fit {
  height: fit-content;
}
.col-10 {
  flex: 0 0 83.333%;
  max-width: 83.333%;
}
.col-11 {
  flex: 0 0 91.666%;
  max-width: 91.666%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-snapshot {
  width: 1376px;
  position: absolute;
  left: -9999px;
  top: 0;
}
.section-wrap {
  width: 100%;
  position: relative;
  .video-background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 5;
    object-fit: contain;
    display: flex;
    video {
      width: 100%;
      object-fit: cover;
    }
    .icon-sound {
      position: absolute;
      bottom: 16px;
      right: 16px;
      padding: 8px;
      display: flex;
      cursor: pointer;
      user-select: none;
    }
  }
  &.bg-img {
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.bg-color {
    background-color: var(--bg-color);
  }

  &.section-logo {
    padding-top: 80px;
    .section-logo-wrap {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 120px;
      height: 40px;
      display: flex;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &.section-copyright {
    padding-top: 260px;
    .content-copyright {
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.section-one {
    aspect-ratio: 172 / 75;
    .content--destop {
      position: absolute;
      z-index: 10;
      .button-href {
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 12px;
        width: fit-content;
      }
      &.center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .text-des,
        .text-head {
          margin-bottom: 8px;
        }
        .button-href {
          margin-top: 24px;
          margin-right: auto;
          margin-left: auto;
        }
      }
      &.left,
      &.right {
        width: calc(50% - 80px);
        top: 50%;
        transform: translateY(-50%);
        .text-des,
        .text-head {
          margin-top: 8px;
        }
        .button-href {
          margin-top: 36px;
        }
      }
      &.left {
        left: 80px;
      }
      &.right {
        left: 50%;
      }
    }
    .content--mobile {
      z-index: 10;
      .button-href {
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 12px;
        width: fit-content;
      }
      &.center {
        width: 100%;
        padding: 40px;
        .text-des,
        .text-head {
          margin-bottom: 8px;
        }
        .text-title {
          overflow: wrap;
        }
        .button-href {
          margin-top: 24px;
          margin-right: auto;
          margin-left: auto;
        }
      }
      &.left,
      &.right {
        .text-des,
        .text-head {
          margin-top: 8px;
        }
        .button-href {
          margin-top: 36px;
        }
      }
      &.left {
        padding: 20px 40px 20px 40px;
      }
      &.right {
        padding: 20px 40px 20px 40px;
      }
    }

    &--mobile {
      padding: 0;
      aspect-ratio: 5 / 8;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &.section-two {
    aspect-ratio: 172 / 75;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left {
      padding: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #000;
      z-index: 10;
      .text-des,
      .text-head,
      .text-title {
        width: fit-content;
        margin: 0 auto;
      }
      .text-des,
      .text-head {
        margin-bottom: 24px;
      }
      .button-href {
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 12px;
        margin-top: 24px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .right {
      display: flex;
      padding: 40px;
      z-index: 10;
      cursor: pointer;
      img {
        width: 100%;
        object-fit: contain;
      }
      .right-section-video-background {
        width: 100%;
        height: 100%;
        display: flex;
        video {
          width: 100%;
          object-fit: cover;
        }
        .icon-sound {
          position: absolute;
          bottom: 56px;
          right: 56px;
          padding: 8px;
          display: flex;
          cursor: pointer;
          user-select: none;
        }
      }
    }
    &.reverse {
      .right {
        right: unset;
        left: 0;
      }
      .left {
        left: unset;
        right: 0;
      }
    }
    &--mobile {
      aspect-ratio: 15/32;
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      & .left {
        padding: 0;
        position: unset;
        transform: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .text-head {
          margin: 40px 40px 0px 40px;
        }
        & .text-title {
          padding: 0px 40px;
        }
      }
      & .right {
        padding: 20px;
        height: fit-content;
        position: unset;
        transform: unset;
        width: 100%;
        height: 50%;
        & img {
          object-fit: cover;
        }
      }
    }
  }
  &.section-audio {
    padding-top: calc(816 / 1376 * 100%);
    .wrap-content {
      position: absolute;
      width: fit-content;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      .list-audio {
        display: flex;
        gap: 24px;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        margin-top: 48px;
        .card-audio {
          width: 300px;
          .audio-image {
            width: 100%;
            height: 400px;
            cursor: pointer;
            position: relative;
            .video-background {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 5;
              transform: translateX(0);
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .icon-play {
              position: absolute;
              background-color: white;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              bottom: 80px;
              left: 50%;
              transform: translateX(-50%);
              display: flex;
              align-items: center;
              justify-content: center;
              .player-container {
                display: flex;
                flex-direction: column;
                align-items: unset;
                width: 100%;
                gap: 8px;
                .progress-container {
                  display: none;
                  margin: 0;
                }
                .control-buttons {
                  width: fit-content;
                  margin-left: auto;
                  margin-right: auto;
                  button {
                    margin-right: 0;
                    img {
                      width: 24px;
                      height: 24px;
                    }
                  }
                }
                .status-container {
                  width: 32px;
                  height: 32px;
                  justify-content: center;
                  margin-left: auto;
                  border-radius: 100px;
                  background: $neutral-white-alpha-90;
                  .spin-loading {
                    background-color: transparent;
                    .img-loading {
                      width: 16px !important;
                      height: 16px !important;
                    }
                  }
                }
              }
            }
          }
          .audio-text-subtitle {
            margin-top: 24px;
            word-break: break-word;
          }
          .audio-text-product {
            margin-top: 12px;
            word-break: break-word;
          }
        }
      }
    }
    &--mobile {
      padding: 0;
      & .list-audio {
        display: flex;
        flex-direction: column;
      }
      &__1 {
        aspect-ratio: 125/272;
      }
      &__2 {
        aspect-ratio: 125/452;
      }
      &__3 {
        aspect-ratio: 125/632;
      }
    }
  }
}
